* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ActiveFontColor:#69B99D;
  --RectangleColor: #F8F9FE;
  --InfoFontColor:#73788C;
  --SubFontColor:#8E8E8E;
  --Heading1: #1F2744;
  --SectionColor: #f5f5f5;
}

body {
  background-color: var(--SectionColor);
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.imgbg {
  width: 800px;
  height: 761px;
  background: url(/img/house.png);
  background-size: cover;
  z-index: -1;
  position: absolute;
  right: 0;
  bottom: calc(100vh - 861px);
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 100px;
  align-items: center;
}
nav .logo {
  width: 115px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav .menu {
  width: 531px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 0.5;
}
nav .menu a {
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.5px;
  color: var(--SubFontColor);
}
nav .menu ul {
  width: 531px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
nav .button {
  width: 310px;
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav .sign {
  cursor: pointer;
  width: 151px;
  height: 55px;
  border: none;
  background-color: transparent;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.0025em;
  color: var(--ActiveFontColor);
}
nav .login {
  cursor: pointer;
  width: 151px;
  height: 55px;
  border: none;
  background-color: var(--ActiveFontColor);
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.0025em;
  color: var(--RectangleColor);
}

.main {
  height: 806px;
  width: 100%;
  padding: 0 100px;
  display: flex;
  align-items: center;
}
.main .mainrec {
  height: 602px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main .headinfo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 0.2;
}
.main .par1rec {
  background-color: var(--RectangleColor);
  width: 162px;
  height: 50px;
  padding: 12px 24px;
}
.main .par1rec .par1 {
  width: 114px;
  height: 26px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 0.5px;
  color: var(--ActiveFontColor);
}
.main .heading1 {
  width: 605px;
  height: 148px;
  left: 124px;
  top: 234px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 74px;
  letter-spacing: 0.0025em;
  color: var(--Heading1);
}
.main .info1 {
  width: 502px;
  height: 48px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.0025em;
  color: var(--InfoFontColor);
}
.main .buyrent {
  width: 751px;
  height: 180px;
  display: flex;
  flex-direction: column;
}
.main .buyrent .subbuyrent {
  width: 223px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.main .buyrent .subbuyrent .buyrec {
  width: 109px;
  height: 56px;
  padding: 12px 32px;
  background-color: #FEFEFF;
}
.main .buyrent .subbuyrent .buyrec .buy {
  width: 45px;
  height: 32px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.0025em;
  color: var(--ActiveFontColor);
}
.main .buyrent .subbuyrent .rentrec {
  width: 109px;
  height: 56px;
  padding: 12px 32px;
  background-color: transparent;
}
.main .buyrent .subbuyrent .rentrec .rent {
  width: 55px;
  height: 32px;
  color: var(--SubFontColor);
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.0025em;
}
.main .buyrent .search {
  width: 751px;
  height: 124px;
  padding: 0px 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #FEFEFF;
  box-shadow: 35px 35px 65px rgba(146, 106, 120, 0.16);
}
.main .buyrent .search .p {
  height: 26px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.0025em;
  color: var(--Heading1);
}
.main .buyrent .search .p2 {
  height: 26px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.0025em;
  color: var(--InfoFontColor);
}
.main .buyrent .search .locselection {
  width: 165px;
}
.main .buyrent .search .typeselection {
  width: 54px;
}
.main .buyrent .search .priceselection {
  width: 99px;
}
.main .buyrent .search .loc {
  width: 77px;
}
.main .buyrent .search .type {
  width: 44px;
}
.main .buyrent .search .price {
  width: 107px;
}
.main .buyrent .search .selection {
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .buyrent .search .a {
  width: 197px;
}
.main .buyrent .search .b {
  width: 86px;
}
.main .buyrent .search .c {
  width: 131px;
}
.main .buyrent .search .searchbut {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.0025em;
  color: var(--RectangleColor);
  border: none;
  padding: 18px 48px;
  width: 153px;
  height: 60px;
  background: var(--ActiveFontColor);
  box-shadow: 0px 0px 65px rgba(105, 185, 157, 0.32);
}

.sec1 {
  width: 100%;
  height: 950px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.sec1 .sec1wrapper {
  width: 1196px;
  height: 710px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sec1 .sec1wrapper .discover {
  width: 142px;
  height: 50px;
  background-color: var(--RectangleColor);
  padding: 12px 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.5px;
  color: var(--ActiveFontColor);
}
.sec1 .sec1wrapper .blog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sec1 .sec1wrapper .blog .bcont {
  width: 376px;
  height: 472px;
  background: #FEFEFF;
  border: 1px solid #DEDCDA;
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.sec1 .sec1wrapper .blog .bcont .bwrap {
  width: 344px;
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sec1 .sec1wrapper .blog .bcont .bwrap .bprice {
  width: 289px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sec1 .sec1wrapper .blog .bcont .h {
  width: 246px;
  height: 32px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.0025em;
  color: #1F2744;
}
.sec1 .sec1wrapper .blog .bcont .p {
  width: 146px;
  height: 26px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.0025em;
  color: var(--InfoFontColor);
}
.sec1 .sec1wrapper .blog .bcont .usd {
  width: 99px;
  height: 32px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.0025em;
  color: var(--ActiveFontColor);
}
.sec1 .sec1wrapper .blog .bcont .area {
  width: 159px;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--SectionColor);
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.0025em;
  color: var(--InfoFontColor);
}
.sec1 .sec1wrapper .blog .bcont .area .span {
  color: var(--Heading1);
}
.sec1 .sec1wrapper .blog .bcont button {
  width: 101px;
  height: 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.0025em;
  color: #FEFEFF;
  border: none;
  padding: 12px 48px;
  width: 344px;
  height: 48px;
  background: var(--ActiveFontColor);
  box-shadow: 0px 0px 20px rgba(105, 185, 157, 0.58);
}
.sec1 .sec1wrapper .blog .bimg {
  width: 344px;
  height: 238px;
  background-size: cover;
}
.sec1 .sec1wrapper .blog .b1img {
  background: url(/img/blog1.jpg);
}
.sec1 .sec1wrapper .blog .b2img {
  background: url(/img/blog2.jpg);
}
.sec1 .sec1wrapper .blog .b3img {
  background: url(/img/blog3.jpg);
}
.sec1 .sec1wrapper .recomendation {
  width: 500px;
  height: 56px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.5px;
  color: #054457;
}
.sec1 .sec1wrapper .learnrec {
  width: 1196px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sec1 .sec1wrapper .learnrec .learnpar {
  width: 492px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.0025em;
  color: var(--InfoFontColor);
}
.sec1 .sec1wrapper .learnrec .learnmore {
  width: 185px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.sec1 .sec1wrapper .learnrec .learnmore .learn {
  width: 105px;
  height: 26px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.5px;
  color: var(--ActiveFontColor);
}

.sec2 {
  width: 100%;
  height: 954px;
  display: flex;
  background: var(--SectionColor);
  justify-content: center;
  align-items: center;
}
.sec2 .sec2wrapper {
  height: 824px;
  width: 1192px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.sec2 .sec2Head {
  width: 436px;
  height: 172px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.sec2 .sec2Head .our {
  width: 179px;
  height: 50px;
  background: var(--RectangleColor);
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec2 .sec2Head .our .ourp {
  width: 131px;
  height: 26px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.5px;
  color: var(--ActiveFontColor);
}
.sec2 .sec2Head .sec2Title {
  width: 436px;
  height: 112px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.5px;
  color: #054457;
}
.sec2 .gridlist {
  max-width: 1200px;
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(3, 0.25fr);
  gap: 20px;
}
.sec2 .gridlist h1 {
  width: 300px;
  height: 38px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 0.5px;
  color: #054457;
}
.sec2 .gridlist p {
  width: 336px;
  height: 104px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.5px;
  color: #73788C;
}
.sec2 .gridlist .gl {
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sec3 {
  width: 100%;
  height: 811px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.sec3 .sec3wrap {
  width: 1200px;
  height: 475px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec3 .sec3wrap .imgwrap {
  width: 609px;
  height: 475px;
  display: flex;
  flex-direction: column;
  background: url(/img/interiorabout.jpg);
}
.sec3 .sec3wrap .imgwrap .upperrec {
  width: 174px;
  height: 236px;
  background-color: #fefeff;
  box-shadow: 35px 35px 65px rgba(146, 106, 120, 0.16);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  left: 80px;
  bottom: 100px;
}
.sec3 .sec3wrap .imgwrap .upperrec .ticksquare {
  height: 26px;
  width: 26px;
  position: absolute;
  bottom: 223px;
}
.sec3 .sec3wrap .imgwrap .upperrec h1 {
  width: 107px;
  height: 80px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 80px;
  letter-spacing: 0.0025em;
  color: #054457;
}
.sec3 .sec3wrap .imgwrap .upperrec .trusted {
  width: 85px;
  height: 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.0025em;
  color: #A6A6A6;
}
.sec3 .sec3wrap .imgwrap .upperrec .reviews {
  width: 110px;
  height: 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.0025em;
  color: #054457;
}
.sec3 .sec3wrap .imgwrap .rightbottomrec {
  width: 515px;
  height: 82px;
  display: flex;
  justify-content: space-evenly;
  background-color: #ffffff;
  align-items: center;
  position: relative;
  top: 159px;
  left: 94px;
}
.sec3 .sec3wrap .imgwrap .rightbottomrec h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0.0025em;
  color: #054457;
}
.sec3 .sec3wrap .imgwrap .rightbottomrec p {
  width: 82px;
  height: 52px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.0025em;
  color: #A6A6A6;
}
.sec3 .sec3wrap .aboutwrap {
  height: 406px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.sec3 .sec3wrap .aboutwrap .aboutrec {
  width: 141px;
  height: 50px;
  background-color: var(--RectangleColor);
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec3 .sec3wrap .aboutwrap .aboutHead {
  width: 93px;
  height: 26px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.5px;
  color: var(--ActiveFontColor);
}
.sec3 .sec3wrap .aboutwrap h1 {
  width: 527px;
  height: 112px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.5px;
  color: #054457;
}
.sec3 .sec3wrap .aboutwrap .aboutPara {
  width: 505px;
  height: 104px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.0025em;
  color: #73788C;
}
.sec3 .sec3wrap .aboutwrap .learnbut {
  width: 186px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--ActiveFontColor);
  box-shadow: 24px 24px 65px rgba(81, 140, 119, 0.24);
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.0025em;
  color: #FEFEFF;
}

.sec4 {
  width: 100%;
  height: 711px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec4wrapper {
  width: 1192px;
  height: 520px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sec4wrapper .customerrec {
  width: 274px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--RectangleColor);
}
.sec4wrapper .customerrec .customerpara {
  width: 250px;
  height: 26px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.5px;
  color: var(--ActiveFontColor);
}
.sec4wrapper .customerhead {
  width: 504px;
  height: 56px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #054457;
}
.sec4wrapper .peoplecom {
  width: 1192px;
  height: 350px;
  display: flex;
  justify-content: space-between;
}
.sec4wrapper .peoplecom .quote {
  width: 44px;
  height: 34px;
}
.sec4wrapper .peoplecom .pc {
  width: 376px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: #FEFEFF;
  border: 1px solid #DEDCDA;
  padding: 24px;
}
.sec4wrapper .peoplecom .pc .combig {
  width: 300px;
  height: 56px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.0025em;
  color: #1F2744;
}
.sec4wrapper .peoplecom .pc .comlittle {
  width: 328px;
  height: 96px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.0025em;
  color: #1F2744;
}
.sec4wrapper .peoplecom .pc .profileinfo {
  width: 240px;
  height: 52px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.sec4wrapper .peoplecom .pc .profileinfo img {
  width: 48px;
  height: 48px;
}
.sec4wrapper .peoplecom .pc .profileinfo .namejob {
  width: 180px;
  height: 52px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.sec4wrapper .peoplecom .pc .name {
  width: 180px;
  height: 26px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.5px;
  color: #0B2E29;
}
.sec4wrapper .peoplecom .pc .job {
  width: 100px;
  height: 22px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.5px;
  color: #767676;
}

.footer {
  width: 100%;
  height: 393px;
  background-color: var(--SectionColor);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footerwrapper {
  width: 1192px;
  height: 218px;
  display: flex;
  justify-content: space-between;
}
.footer .footerwrapper h3 {
  width: 115px;
  height: 28px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #0B2E29;
}
.footer .footerwrapper ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
}
.footer .footerwrapper ul li {
  width: 146px;
  height: 24px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #575757;
}
.footer .footerwrapper .logoinfo {
  width: 351px;
  height: 218px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer .footerwrapper .logoinfo .footerlogo {
  width: 115px;
  height: 40px;
}
.footer .footerwrapper .logoinfo p {
  width: 344px;
  height: 52px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.0025em;
  color: #1F2744;
}
.footer .footerwrapper .logoinfo .emailinput {
  width: 263px;
  height: 42px;
  border: none;
  background-color: #fefefe;
  padding-left: 16px;
  float: left;
}
.footer .footerwrapper .logoinfo ::-moz-placeholder {
  width: 138px;
  height: 26px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.5px;
  color: #D7D7D7;
}
.footer .footerwrapper .logoinfo ::placeholder {
  width: 138px;
  height: 26px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.5px;
  color: #D7D7D7;
}
.footer .footerwrapper .logoinfo .send {
  width: 88px;
  height: 42px;
  border: none;
  background: #69B99D;
  box-shadow: 0px 0px 65px rgba(105, 185, 157, 0.48);
  color: #fefefe;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.5px;
}
.footer .footerwrapper .servicelist {
  width: 146px;
  height: 188px;
}
.footer .footerwrapper .communitylist {
  width: 112px;
  height: 148px;
}
.footer .footerwrapper .followus {
  width: 152px;
  height: 84px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer .footerwrapper .followus .followheader {
  width: 125px;
  height: 28px;
}/*# sourceMappingURL=main.css.map */