*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --ActiveFontColor:#69B99D;
  --RectangleColor: #F8F9FE;
  --InfoFontColor:#73788C;
  --SubFontColor:#8E8E8E;
  --Heading1: #1F2744;
  --SectionColor: #f5f5f5;
}

body{
  background-color: var(--SectionColor);
}

.wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;


}

.imgbg{
  width: 800px;
  height: 761px;
  background: url(/img/house.png);
  background-size: cover;
  z-index: -1;
  position: absolute;
  right: 0;
  bottom: calc(100vh - 861px);

}

nav{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 100px;
  align-items: center;

  .logo{
    width: 115px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .menu{
    width: 531px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 0.5;

    a{
      text-decoration: none;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 26px;
      letter-spacing: 0.5px;
      color: var(--SubFontColor);

    }

    ul{
      width: 531px;
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      
    }
  
  } //menu

  .button{
    width: 310px;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

    .sign{
      cursor: pointer;
      width: 151px;
      height: 55px;
      border: none;
      background-color: transparent;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.0025em;
      color: var(--ActiveFontColor);
    }

    .login{
      cursor: pointer;
      width: 151px;
      height: 55px;
      border: none;
      background-color: var(--ActiveFontColor);
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.0025em;
      color: var(--RectangleColor);
    }
  
} //nav

.main{
  height: 806px;
  width: 100%;
  padding: 0 100px;
  display: flex;
  align-items: center;

  .mainrec{
    height: 602px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  } //mainrec



  .headinfo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 0.2;
  }

  .par1rec{
    background-color: var(--RectangleColor);
    width: 162px;
    height: 50px;
    padding: 12px 24px;
  
    .par1{    
      width: 114px;
      height: 26px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
      line-height: 26px;
      letter-spacing: 0.5px;
      color: var(--ActiveFontColor);
    }
  } //par1rec

  .heading1{
    width: 605px;
    height: 148px;
    left: 124px;
    top: 234px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.0025em;
    color: var(--Heading1);
  }

  .info1{
    width: 502px;
    height: 48px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.0025em;
    color: var(--InfoFontColor);
  }

  .buyrent{
    width: 751px;
    height: 180px;
    display: flex;
    flex-direction: column;

    .subbuyrent{
      width: 223px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    

      .buyrec{
        width: 109px;
        height: 56px;
        padding: 12px 32px;
        background-color: #FEFEFF;



        .buy{
          width: 45px;
          height: 32px;
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 32px;
          letter-spacing: 0.0025em;
          color: var(--ActiveFontColor);
        }
      } //buyrec

      .rentrec{
        width: 109px;
        height: 56px;
        padding: 12px 32px;
        background-color: transparent;
      

        .rent{
          width: 55px;
          height: 32px;
          color: var(--SubFontColor);
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 32px;
          letter-spacing: 0.0025em;
        }
      } //rentrec

    } //subbuyrent
    
    .search{
      width: 751px;
      height: 124px;
      padding: 0px 32px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background-color: #FEFEFF;
      box-shadow: 35px 35px 65px rgba(146, 106, 120, 0.16);



      .p{
        height: 26px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0.0025em;
        color: var(--Heading1);

      } //p

      .p2{
        height: 26px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0.0025em;
        color: var(--InfoFontColor);
      }//p2

      .locselection{
        width: 165px;
      } //locselection

      .typeselection{
        width: 54px;
      } //typeselection

      .priceselection{
        width: 99px;
      } //priceselection

      .loc{
        width: 77px;
      } //loc

      .type{
        width: 44px;
      } //type

      .price{
        width: 107px;
      } //price
      
      .selection{
        height: 26px;
        display: flex;
        align-items: center;
        justify-content: space-between;

      } //selection

      .a{
        width: 197px;
      } //a
      
      .b{
        width: 86px;
      } //b

      .c{
        width: 131px;
      } //c

    .searchbut{

      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.0025em;
      color: var(--RectangleColor);
      border: none;
      padding: 18px 48px;
      width: 153px;
      height: 60px;
      background: var(--ActiveFontColor);
      box-shadow: 0px 0px 65px rgba(105, 185, 157, 0.32);
    }

    } //search



  } //buyrent

} //main

          // section1

.sec1{
  width: 100%;
  height: 950px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;

  .sec1wrapper{
    width: 1196px;
    height: 710px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  .discover{
    width: 142px;
    height: 50px;
    background-color: var(--RectangleColor);
    padding: 12px 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.5px;
    color: var(--ActiveFontColor);
  }


  .blog{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    .bcont{
      width: 376px;
      height: 472px;
      background: #FEFEFF;
      border: 1px solid #DEDCDA;
      padding: 16px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;




      .bwrap{
        width: 344px;
        height: 190px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;


        .bprice{
          width: 289px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }

      } //bwrap
      
      .h{
        width: 246px;
        height: 32px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.0025em;
        color: #1F2744;
      }
      
      .p{
        width: 146px;
        height: 26px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.0025em;
        color: var(--InfoFontColor);
      }

      .usd{
        width: 99px;
        height: 32px;     
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.0025em;
        color: var(--ActiveFontColor);
      }


      

      .area{
        width: 159px;
        height: 32px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        background-color: var(--SectionColor);
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.0025em;
        color: var(--InfoFontColor);

        .span{
          
          color:var(--Heading1);
        }

      } //area

      button{
        width: 101px;
        height: 24px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.0025em;
        color: #FEFEFF;
        border: none;
        padding: 12px 48px;
        width: 344px;
        height: 48px;
        background: var(--ActiveFontColor);
        box-shadow: 0px 0px 20px rgba(105, 185, 157, 0.58);

      }

    } //bcont

    .bimg{
      width: 344px;
      height: 238px;
      background-size: cover;
    }

    .b1img{
      background: url(/img/blog1.jpg);
    }

    .b2img{
      background: url(/img/blog2.jpg);
    }    
    
    .b3img{
      background: url(/img/blog3.jpg);
    }

  } //blog

  .recomendation{
    width: 500px;
    height: 56px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.5px;
    color: #054457;

  }

  .learnrec{
    width: 1196px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .learnpar{
      width: 492px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0.0025em;
      color: var(--InfoFontColor);
    } //learnpar

    .learnmore{
      width: 185px;
      height: 50px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      .learn{
        width: 105px;
        height: 26px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0.5px;
        color: var(--ActiveFontColor);

      }// learn


      } //learnmore
    } //learnrec
  } //sec1wrapper
} //sec1

.sec2{
  width: 100%;
  height: 954px;
  display: flex;
  background: var(--SectionColor);
  justify-content: center;
  align-items: center;


.sec2wrapper{
  height: 824px;
  width: 1192px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
} //sec2wrapper

  .sec2Head{
    width: 436px;
    height: 172px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;




    .our{
      width: 179px;
      height: 50px;
      background: var(--RectangleColor);
      display: flex;
      align-items: center;
      justify-content: center;


      .ourp{
        width: 131px;
        height: 26px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0.5px;
        color: var(--ActiveFontColor);
      }
    } //our

    .sec2Title{
      width: 436px;
      height: 112px;
      font-family: 'Rubik';
      font-style: normal;
      font-weight: 600;
      font-size: 48px;
      line-height: 56px;
      letter-spacing: 0.5px;
      color: #054457;
    } //sec2Tittle
  } //sec2Head

  .gridlist{
    max-width: 1200px;
    display: grid;
    grid-template:  repeat(2,1fr) / repeat(3,0.25fr);
    gap: 20px;



    h1{
      width: 300px;
      height: 38px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 700;
      font-size: 28px;
      line-height: 38px;
      letter-spacing: 0.5px;
      color: #054457;
    }

    p{
      width: 336px;
      height: 104px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0.5px;
      color: #73788C;
    }


    .gl{
      height: 210px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      
    } //gl
    
    
  }//gridlist
} //sec2

.sec3{
  width: 100%;
  height: 811px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;

  .sec3wrap{
    width: 1200px;
    height: 475px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    


    .imgwrap{
      width: 609px;
      height: 475px;
      display: flex;
      flex-direction: column;
      background: url(/img/interiorabout.jpg);



    .upperrec{
      width: 174px;
      height: 236px;
      background-color: #fefeff;
      box-shadow: 35px 35px 65px rgba(146, 106, 120, 0.16);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      position: relative;
      left: 80px;
      bottom: 100px;

      .ticksquare{
        height: 26px;
        width: 26px;
        position: absolute;
        bottom: 223px;

      }


      h1{
        width: 107px;
        height: 80px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 72px;
        line-height: 80px;
        letter-spacing: 0.0025em;
        color: #054457;
      }
      
      .trusted{
        width: 85px;
        height: 24px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.0025em;
        color: #A6A6A6;
      }

      .reviews{
        width: 110px;
        height: 24px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.0025em;
        color: #054457;
      }

    } //upperrec

    .rightbottomrec{
      width: 515px;
      height: 82px;
      display: flex;
      justify-content: space-evenly;
      background-color: #ffffff;
      align-items: center;
      position: relative;
      top: 159px;
      left: 94px;

      h1{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 58px;
        letter-spacing: 0.0025em;
        color: #054457;
      }

      p{
        width: 82px;
        height: 52px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.0025em;
        color: #A6A6A6;        
      }

    } //rightbottomrec

  } //imgwrap

  .aboutwrap{
    height: 406px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .aboutrec{
      width: 141px;
      height: 50px; 
      background-color: var(--RectangleColor);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .aboutHead{
      width: 93px;
      height: 26px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 26px;
      letter-spacing: 0.5px;
      color: var(--ActiveFontColor);
    }

    h1{
      width: 527px;
      height: 112px;
      font-family: 'Rubik';
      font-style: normal;
      font-weight: 600;
      font-size: 48px;
      line-height: 56px;
      letter-spacing: 0.5px;
      color: #054457;
    }

    .aboutPara{
      width: 505px;
        height: 104px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0.0025em;
      color: #73788C;
    } //aboutpara
    .learnbut{
      width: 186px;
      height: 60px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background: var(--ActiveFontColor);
      box-shadow: 24px 24px 65px rgba(81, 140, 119, 0.24);
      border: none;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.0025em;
      color: #FEFEFF;
      


    }
  } //aboutwrap
    
  } //sec3wrap
  
  
} //sec3

.sec4{
  width: 100%;
  height: 711px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec4wrapper{
  width: 1192px;
  height: 520px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  .customerrec{
    width: 274px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--RectangleColor);

    .customerpara{
    width: 250px;
    height: 26px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.5px;
    color: var(--ActiveFontColor);
    } //customerpara
  } //customerrec

  .customerhead{
    width: 504px;
    height: 56px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #054457;
  }

  .peoplecom{
    width: 1192px;
    height: 350px;
    display: flex;
    justify-content: space-between;

    .quote{
      width: 44px;
      height: 34px;
    }

    .pc{
      width: 376px;
      height: 350px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      background: #FEFEFF;
      border: 1px solid #DEDCDA;
      padding: 24px;

      .combig{
        width: 300px;
        height: 56px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.0025em;
        color: #1F2744;
      }

      .comlittle{
        width: 328px;
        height: 96px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.0025em;
        color: #1F2744;
      }

      .profileinfo{
        width: 240px;
        height: 52px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        img{
          width: 48px;
          height: 48px;
        }

        .namejob{
          width: 180px;
          height: 52px;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
        } //namejob
      }//profileinfo

      .name{
        width: 180px;
        height: 26px; 
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.5px;
        color: #0B2E29;
      } //name
      
      .job{
        width: 100px;
        height: 22px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 22px;
        letter-spacing: 0.5px;
        color: #767676;
      } //job

    } //pc


  } //peoplecom
  
} //sec4wrapper

.footer{
  width: 100%;
  height: 393px;
  background-color: var(--SectionColor);
  display: flex;
  justify-content: center;
  align-items: center;

  .footerwrapper{
    width: 1192px;
    height: 218px;
    display: flex;
    justify-content: space-between;

    h3{
      width: 115px;
      height: 28px;
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
      color: #0B2E29;
    } //h3

    ul{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      list-style: none;

      li{
        width: 146px;
        height: 24px;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #575757;        
      } //li
    } //ul

    .logoinfo{
      width: 351px;
      height: 218px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .footerlogo{
        width: 115px;
        height: 40px;
      }

      p{
        width: 344px;
        height: 52px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.0025em;
        color: #1F2744;        
      } //logoinfop

      .emailinput{
        width: 263px;
        height: 42px;
        border:none;
        background-color: #fefefe;
        padding-left: 16px;
        float: left;
      } //emailinput

      ::placeholder{
        width: 138px;
        height: 26px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.5px;
        color: #D7D7D7;
      } //placeholder

      .send{
        width: 88px;
        height: 42px;
        border: none;
        background: #69B99D;
        box-shadow: 0px 0px 65px rgba(105, 185, 157, 0.48);  
        color: #fefefe;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.5px;
      } //send

    } //logoinfo

    .servicelist{
      width: 146px;
      height: 188px;
    } //servicewrap

    .communitylist{
      width: 112px;
      height: 148px;
    } //communitylist

    .followus{
      width: 152px;
      height: 84px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .followheader{
        width: 125px;
        height: 28px;
      } //followh3

    } //followus

  } //footerwrapper
  
} //footer

